
.body{
  color: cornflowerblue;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
 
 }

 .h1{
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  color: white;
}
.albumcard{
  display: flex;
  margin-top: 100px;
  width: 26%;
  height: 100%;
 align-items: center;
 flex-direction: column;
 background-color:aqua ;
 border-radius: aquamarine 5px;
 border: 2mm ridge rgba(50, 200, 220, 0.798);
 padding:white 10px 10px 10px 10px;
}
.image{
 height: 250px;
 width: 80%;
 object-fit: fill;
}
.descr{
  font-family: 'Inter',sans-serif;
  font-size: 20px;
  color: black;
  align-self: center;
  align-content: center;
}
.btn{
margin-top: 20px;
color: red;
}

#input{
font-family: 'Edu TAS Beginner', cursive;
font-family: 'Inter', sans-serif;
color: blueviolet;
height: px;
}

.text{
  font-family: 'Teko', sans-serif;
  font-size: 40px;
  color: mediumvioletred;
}

